definitions:
  handler.GreetingResponse:
    properties:
      language:
        type: string
      message:
        type: string
      timestamp:
        type: string
    type: object
info:
  contact: {}
paths:
  /greet:
    get:
      consumes:
      - application/json
      description: Returns a greeting message in the requested language.
      parameters:
      - default: World
        description: Name to greet
        in: query
        name: name
        type: string
      - default: en
        description: Language code (en, es, fr)
        in: query
        name: lang
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.GreetingResponse'
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Generate a greeting message
      tags:
      - greeting
swagger: "2.0"
