[user]
    name = Badr Choubai
    email = badrchoubai@outlook.com

[includeIf "gitdir:~/git/work/"]
    path = ~/.gitconfig-github

[includeIf "gitdir:~/git/personal/"]
    path = ~/.gitconfig-gitlab
